* {
    padding: 0px;
    margin: 0px;
}

html {  
    scroll-behavior: smooth;  
}


.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    border: 1px solid black;
    width: 100vw;
    height: 97.5vh;
}




header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5vh;
    width: 100vw;
    position: fixed;
    border: 2px solid black;
}

nav {
    display: flex;
}


.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    width: 100vw;
}


.skill {
    width: 200px;
    /*border: 1px solid black;   */
}

.tech-stack,
.dev-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}