* {
    padding: 0px;
    margin: 0px;
}

.ls-intro,
.rs-intro{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50vw;
    height: 1000px;
}

.ls-intro {
    justify-content: center;
    align-items: flex-start;
}

.intro{
    display: flex;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5vh;
}

nav {
    display: flex;
}

.about {
    background-color: blue;
    width: 100vw;
    height: 80vh;
}

.contact {
    background-color: green;
    width: 100vw;
    height: 80vh;
}

.project {
    background-color: red;
    width: 100vw;
    height: 80vh;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}